/* Smartphones (portrait and landscape) ----------- */



* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fff;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 80px;
    
  }

header {
    background-color: #379683;
    position: fixed;
    height: 65px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 25px 0 #000000;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: #000000;
    text-decoration: none;
}

header li a:hover {
    cursor: pointer;
}

/* main {
    color: #fff;
    align-self: center;
    width: 50%;
    margin-top: 200px;
} */

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

main p {
    color: #fff;
    line-height: 1.25em;
    align-self: center;
    width: 75%;
    margin-top: 125px;
    margin-right: 70px;
}

main img {
    width: 50%;
    height: 75%;
    margin-top: 115px;
    margin-left: 200px;
    border-radius: 300px;
}

footer {
    background-color: #379683;
    position: fixed;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 #000000;
    top: 650px;
    height: 25%;
    width: 100%;
    opacity: .7;
}

footer * {
    display: inline;
}

footer li {
    color: #000000;
    margin-top: 15px;
    margin-left: 225px;
}

footer li div {
    display: inline;
    margin-bottom: 75px;
    width: 75px;
    height: 75px;
}

@media(max-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    main img {
        margin-right: 20px;
    }

    main p {
        text-align: center;
    }
}
