@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    * {
        margin: 0;
        padding: 0;
      }
      
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background: #fff;
        height: 100%;
        width: 100%;
        background: url('https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center center cover no-repeat fixed;
        margin-top: 80px;
      }
}

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fff;
    height: 100%;
    background: url('https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') no-repeat fixed center;
    background-size: 100%;
    margin-top: 80px;
  }

header {
    background-color: #60d0ec;
    position: fixed;
    height: 65px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 25px 0 #000000;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: #000000;
    text-decoration: none;
}

header li a:hover {
    cursor: pointer;
}

.main {
    text-align: center;
}


  
.contact-info {
    text-align: center;
    margin-top: 275px;
    border: 3px solid #000000;
    border-radius: 100px;
    left: 50px;
    right: 50px;
    text-align: center;
    padding: 15px 5px;
    font-weight: bolder;
}

.contact-info p {
    font-weight: bolder;
}